.itemEnter {
  opacity: 0;
  transform: translateX(-20px);
}

.itemEnterActive {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms ease-out, transform 300ms ease-out;
}

.itemExit {
  opacity: 1;
  transform: translateX(0);
}

.itemExitActive {
  opacity: 0;
  transform: translateX(20px);
  transition: opacity 300ms ease-out, transform 300ms ease-out;
}
